project:
  type: website
  output-dir: docs
format:
    html: 
      self-contained: true
      grid: 
        margin-width: 350px
execute: 
  echo: true
reference-location: margin
citation-location: margin